* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Poppins', sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --primary-dark: #000;
    --secondary-dark: #353232;
    --decoration-color: red;
    --font-color: white;
    --section-heading: 2rem;
}

ul {
    list-style: none;
}

body {
    background-color: var(--primary-dark, #000);
    color: var(--font-color, white);
}

.container {
    display: grid;
    grid-template-columns: 12% 1fr 12%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 60px;
    background-color: var(--primary-dark, #000);
}
header>div {
    grid-column: 2/3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: var(--font-color, white);
}

header .logo {
    font-size: 2.5rem;
    letter-spacing: 0.3rem;
    font-family: 'Lemon', sans-serif;
}

span {
    color: var(--decoration-color, red);
    font-weight: 700;
}

nav ul li {
    display: inline-block;
    margin-left: 24px;
    margin-right: 5px;
}

i.fa-circle-xmark, i.fa-bars {
    display: none;
}

nav ul li a {
    font-size: 1.2rem;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background-color: var(--decoration-color, red);
    position: absolute;
    left: 0;
    bottom: -3px;
    transition: all .2s ease-in .1s;
} 

nav ul li a:hover::after {
    width: 100%;
}


main>div {
    grid-column: 2/3;
}

#home {
    height: auto;
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center; 
    justify-content: space-between;
    padding-bottom: 2rem;
}

.home-content {
    flex-basis: 500px;
    flex-grow: 1;
    flex-shrink: 3;
    margin: 0 auto;
}

.home-content h1 {
    font-size: 2.5rem;
}

.home-content h3 {
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
}

.social a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 50%;
    font-size: 1.5rem;
    margin: 2rem 1rem 3.2rem 0;
    transition: all .3s linear .1s;;
}

.social a:hover {
    background-color: #fff;
    color: var(--primary-dark, #000);
    box-shadow: 0 0 16px #fff;
    transform: translateY(-4px) scale(1.1);
}
.social a:active {
    box-shadow: 0 0 20px var(--decoration-color, red);
}

.btn {
    display: inline-block;
    width: fit-content;
    padding: 1rem 3rem;
    margin-bottom: 2rem;
    border: 2px solid var(--decoration-color, red);
    border-radius: 10px;
    font-size: 1.5rem;
    transition: all .2s ease .1s;
}

.btn:hover {
    background-color: var(--decoration-color, red);
    transform: scale(1.1);
}

.cta-btn:active {
    box-shadow: 0 0 24px var(--decoration-color, red);
}

.home-picture {
    flex-basis: 500px;
    flex-grow: 3;
    flex-shrink: 1;
    margin: 0 auto;
}

.picture-wrapper {
    width: 500px;
    height: 500px;
    border: 3px solid var(--decoration-color, red);
    border-radius: 50%;
    box-shadow: 0 0 60px var(--decoration-color, red);
    overflow: hidden;
    margin: 6rem auto;
    transition: all .2s linear .1s;
}

.picture-wrapper:hover {
    transform: scale(1.1);
    border-radius: 25px;
}

.picture-wrapper img {
    max-height: 100%;
}

#about {
    height: auto;
    padding-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.about-picture {
    flex-basis: 400px;
    flex-grow: 1;
    flex-shrink: 1;
    height: 80%;
    overflow: hidden;
    margin: auto 1rem;
}

.about-picture img {
    max-width: 100%;
    border-radius: 16px;
    transition: all .3s ease-in .2s;
}

.about-picture:hover img {
    transform: scale(1.1);
}

.about-text {
    flex-basis: 600px;
    flex-grow: 2;
    flex-shrink: 3;
    height: 80%;
    padding: 1rem 1rem 1rem 1rem;
}

.about-text h2 {
    font-size: var(--section-heading, 2rem);
    text-align: center;
    margin: 2rem auto;
}

.about-text p {
    margin-bottom: 1rem;
}

.tab-titles {
    display: flex;
    justify-content: space-around;
}

.tab-link {
    margin-bottom: 1.5rem;
    position: relative;
}

.tab-link::after {
    content: '';
    width: 0;
    height: 3px;
    background-color: var(--decoration-color, red);
    position: absolute;
    left: 0;
    bottom: -3px;
    transition: all .2s ease .1s;
}

.tab-link:hover::after {
    width: 100%;
    background-color: yellow;
}

.tab-link.active-link::after {
    width: 100%;
}

.tab-text {
    display: none;
}

.tab-text.active-tab {
    display: inline-block;
}

#skills i {
    font-size: 1.2rem;
}

#skills i.fa-html5 {
    color: orangered;
}

#skills i.fa-css3-alt {
    color:royalblue
}

#skills i.fa-square-js {
    color: rgb(255, 221, 0);
}

#skills i.fa-react {
    color: royalblue;
}

#services {
    height: auto;
    padding-top: 2rem;
}

#services h2 {
    font-size: var(--section-heading, 2rem);
    text-align: center;
    margin: 3rem auto;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 40px;
}

.service-item {
    padding: 3rem 2rem;
    background-color: var(--secondary-dark, #353232);
    border-radius: 12px;
    transition: all .3s linear .1s;
}
.service-item:hover {
    border: 2px solid var(--decoration-color, red);
    transform: translateY(-16px) scale(1.1);
}

.service-item i {
    color: var(--decoration-color, red);
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.service-item h3 {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.service-item p {
    margin-bottom: 1rem;
}

.service-item a {
    color: var(--decoration-color, red);
}

#projects {
    height: auto;
    padding-top: 2rem;
}

#projects h2 {
    font-size: var(--section-heading, 2rem);
    text-align: center;
    margin: 3.6rem auto;
}

.projects-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 40px;
}

.project {
    height: 500px;
    overflow: hidden;
    border-radius: 12px;
    position: relative;
}

.project img {
    max-height: 100%;
    display: block;
    transition: all .2s linear .1s;
}

.project:hover img {
    transform: scale(1.1);
}

.layer {
    background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 0, 0, 0.6));
    position: absolute;
    left: 0;
    bottom: -500px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 5rem 2rem;
    overflow: hidden;
    transition: all .5s linear .2s;
}

.layer h3 {
    font-size: 2rem;
    margin-top: 1rem;
}

.layer a i {
    font-size: 2rem;
}

.project:hover .layer {
    bottom: 0;
}

#projects .btn {
    display: block;
    margin: 3rem auto;
}

#contact {
    height: auto;
    padding-top: 3.6rem;
    padding-bottom: 3rem;
}

#contact>div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-left {
    flex-basis: 400px;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 0 auto;
}

.contact-left h2 {
    font-size: var(--section-heading, 2rem);
    text-align: start;
    margin: 0 auto 3rem auto;
}

.contact-left h3 {
    font-size: 1.3rem;
    font-weight: 400;
    margin: 1.5rem 0;
}

.contact-left h3 i {
    font-size: 1.5rem;
    color: var(--decoration-color, red);
}

.contact-right {
    flex-basis: 500px;
    flex-grow: 2;
    flex-shrink: 2;
    margin: 0 auto;
}

.contact-right form {
    width: 100%;
}

form input, form textarea {
    width: 100%;
    padding: 0.5rem 1rem;
    margin: 0.5rem 3.5rem;
    background-color: var(--secondary-dark, #353232);
    outline: none;
    border-radius: 6px;
    transition: all .4s linear .1s;
}

form input:hover, form textarea:hover {
    transform: scale(1.1);
    background-color: #837a7a;
}

form .btn {
    background-color: var(--primary-dark, #000);
    color: var(--font-color, white); 
    margin: 1rem 3.5rem;
}

footer {
    padding: 1rem 0;
    background-color: var(--secondary-dark, #353232);
}

footer p {
    grid-column: 2/3;
    text-align: center;
    letter-spacing: 0.08rem;
}

footer p span i {
    color: var(--decoration-color, red);
}
/*-----------CSS for small screen-------------*/
@media only screen and (max-width: 1380px) {
    .container {
        grid-template-columns: 8% 1fr 8%;
    }

    .home-content h1 {
        font-size: 2.3rem;
    }
    
    .home-content h3 {
        font-size: 1.8rem;
    }
    .about-picture {
        flex-basis: 360px;
        margin: auto 1rem;
    }
}

@media only screen and (max-width: 860px) {

    .container {
        grid-template-columns: 4% 1fr 4%;
    }

    nav ul {
        display: block;
        background-color: var(--decoration-color, red);
        width: 200px;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -200px;
        padding: 72px 24px;
    }

    nav ul li {
        margin-bottom: 24px;
    }

    i.fa-circle-xmark, i.fa-bars {
        display: block;
        font-size: 1.5rem;
    } 
    i.fa-circle-xmark {
        position: absolute;
        top: 24px;
        left: 48px;
    }

    .home-content, .home-picture {
        padding-left: 2rem;  
    }

    .contact-left {
        padding-left: 3.6rem;
    }
    .contact-right {
        padding-right: 2rem;
    }
}