* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Poppins', sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    background-color: black;
    color: white;
}

.container {
    display: grid;
    grid-template-columns: 12% 1fr 12%;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 60px;
    background-color: #000;
}
header>div {
    grid-column: 2/3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
}

header .logo {
    font-size: 2.5rem;
    letter-spacing: 0.3rem;
    font-family: 'Lemon', sans-serif;
}

span {
    color: red;
    font-weight: 700;
}

nav ul li {
    display: inline-block;
    margin-left: 24px;
    margin-right: 5px;
}

nav ul li a {
    font-size: 1.2rem;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background-color: red;
    position: absolute;
    left: 0;
    bottom: -3px;
    transition: all .2s ease-in .1s;
} 

nav ul li a:hover::after {
    width: 100%;
}


main>div {
    grid-column: 2/3;
}

#home {
    height: 100vh;
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center; 
}

.home-content {
    width: 50%;
}

.home-content h1 {
    font-size: 2.5rem;
}

.home-content h3 {
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
}

.social a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 50%;
    font-size: 1.5rem;
    margin: 2rem 1rem 3.2rem 0;
    transition: all .3s linear .1s;;
}

.social a:hover {
    background-color: #fff;
    color: black;
    box-shadow: 0 0 16px #fff;
    transform: translateY(-4px) scale(1.1);
}
.social a:active {
    box-shadow: 0 0 20px red;
}

.btn {
    display: inline-block;
    width: fit-content;
    padding: 1rem 3rem;
    border: 2px solid red;
    border-radius: 10px;
    font-size: 1.5rem;
    transition: all .2s ease .1s;
}

.btn:hover {
    background-color: red;
    transform: scale(1.1);
}

.cta-btn:active {
    box-shadow: 0 0 24px red;
}

.home-picture {
    width: 50%;
}

.picture-wrapper {
    width: 500px;
    height: 500px;
    border: 3px solid red;
    border-radius: 50%;
    box-shadow: 0 0 60px red ;
    overflow: hidden;
    margin: auto;
    transition: all .2s linear .1s;
}

.picture-wrapper:hover {
    transform: scale(1.1);
    border-radius: 25px;
}

.picture-wrapper img {
    max-height: 100%;
}

#about {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.about-picture {
    width: 35%;
    height: 80%;
    overflow: hidden;
}

.about-picture img {
    max-width: 100%;
    border-radius: 16px;
    transition: all .3s ease-in .2s;
}

.about-picture:hover img {
    transform: scale(1.1);
}

.about-text {
    width: 65%;
    height: 80%;
    padding: 1rem 1rem 1rem 2.5rem;
}

.about-text h2 {
    font-size: 2rem;
    text-align: center;
    margin: 2rem auto;
}

.about-text p {
    margin-bottom: 1rem;
}

.tab-titles {
    display: flex;
    justify-content: space-around;
}

.tab-link {
    margin-bottom: 1.5rem;
    position: relative;
}

.tab-link::after {
    content: '';
    width: 0;
    height: 3px;
    background-color: red;
    position: absolute;
    left: 0;
    bottom: -3px;
    transition: all .2s ease .1s;
}

.tab-link:hover::after {
    width: 100%;
    background-color: yellow;
}

.tab-link.active-link::after {
    width: 100%;
}

.tab-text {
    display: none;
}

.tab-text.active-tab {
    display: inline-block;
}

#services {
    height: auto;
}

#services h2 {
    font-size: 2rem;
    text-align: center;
    margin: 3rem auto;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 40px;
}

.service-item {
    padding: 2rem 2rem;
    background-color: #353232;
    border-radius: 12px;
    transition: all .3s linear .1s;
}
.service-item:hover {
    border: 2px solid red;
    transform: translateY(-16px) scale(1.1);
}

.service-item i {
    color: red;
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.service-item h3 {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.service-item p {
    margin-bottom: 1rem;
}

.service-item a {
    color: red;
}

#projects {
    height: auto;
}

#projects h2 {
    font-size: 2rem;
    text-align: center;
    margin: 3.6rem auto;
}

.projects-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 40px;
}

.project {
    height: 500px;
    overflow: hidden;
    border-radius: 12px;
    position: relative;
}

.project img {
    max-height: 100%;
    display: block;
    transition: all .2s linear .1s;
}

.project:hover img {
    transform: scale(1.1);
}

.layer {
    background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 0, 0, 0.6));
    position: absolute;
    left: 0;
    bottom: -500px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 5rem 2rem;
    overflow: hidden;
    transition: all .5s linear .2s;
}

.layer h3 {
    font-size: 2rem;
    margin-top: 1rem;
}

.layer a i {
    font-size: 2rem;
}

.project:hover .layer {
    bottom: 0;
}

#projects .btn {
    display: block;
    margin: 3rem auto;
}

#contact {
    height: auto;
    padding-top: 3.6rem;
}

#contact>div {
    display: flex;
}

.contact-left {
    flex-basis: 35%;
}

.contact-left h2 {
    font-size: 2rem;
    text-align: start;
    margin: 0 auto 3rem auto;
}

.contact-left h3 {
    font-size: 1.3rem;
    font-weight: 400;
    margin: 1.5rem 0;
}

.contact-left h3 i {
    font-size: 1.5rem;
    color: red;
}

.contact-right {
    flex-basis: 65%;
}

.contact-right form {
    width: 100%;
}

form input, form textarea {
    width: 100%;
    padding: 0.5rem 1rem;
    margin: 0.5rem 3.5rem;
    background-color: #353232;
    outline: none;
    border-radius: 6px;
    transition: all .4s linear .1s;
}

form input:hover, form textarea:hover {
    transform: scale(1.1);
    background-color: #837a7a;
}

form .btn {
    background-color: #000;
    color: #fff; 
    margin: 1rem 3.5rem;
}

